extends layout
block content
  body#page-top
    include ./header
    br
    br
    br
    .row
      .col-lg-12
        .col-lg-3.col-md-6    
          blockquote(style="border-left: 5px solid orange;")
            p
              | 123
            footer
              | Total Students 
        .col-lg-3.col-md-6    
          blockquote(style="border-left: 5px solid green;")
            p
              | 17
            footer
              | New Students 
        .col-lg-3.col-md-6    
          blockquote(style="border-left: 5px solid red;")
            p
              | 2
            footer
              | Students left 
        .col-lg-3.col-md-6    
          blockquote(style="border-left: 5px solid green;")
            p
              | 30
            footer
              | Fees Paid
    br          
    br          
    br          
    br          
    br          
    br          
    .row
      .col-lg-12.text-center
        p 
          | Planning to use charts from 
          a(href="http://morrisjs.github.io/morris.js/index.html") morris charts
    .row
      .col-lg-12.text-center
        .col-lg-3   
          #myfirstchart(style='height: 250px;')
        .col-lg-3  
          #donut-example(style='height: 250px;')              

  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js')
  script(src='/jquery/students/students.js')
